<!DOCTYPE html>
<html>
<head>
	<title>Todo</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/nav.css">
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/todos.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- <header>
		<% include ../nav.ejs %>
	</header> -->
	<div class="container">
		<div class = "container" id="mycontainer">
			<h1>My<strong>Todos</strong></h1>
			<h3>Press enter after writing a todo</h3>	
		</div>
		<div class=inputCont>
				<input type="text" placeholder="Insert your task here...">
			<ul>
				
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/todo.js"></script>
</body>
</html>