.alert-container{
    width:1140px;
    margin:0 auto;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


.alert-danger{
    color:#721c24;
    background-color:#f8d7da;
    border-color:#f5c6cb;
}

.alert {
    padding: 15px;
    margin-top:40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight:300;
}

main{
    margin-top:5%;
}